table{
    border-collapse: collapse;
    width: 1000px;
    border: 1px solid #cbcbcb;
    text-align: center;
    margin: auto;
  
}
th, td{
   border-top: 1px solid #cbcbcb;
   border-left: none;
   border-right: none;
   padding: 11px 20px; 
   text-align: left;
   font-size: 15px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#row1{
    background: rgb(1 154 76 / 84%);
    color: white;
}
#row2,#row4,#row6,#row8{
   background: #dedede;
   color: black;

}
#row3,#row5,#row7,#row9{
    background: white;
    color: black;
}